
#custumerSelect{
    width: 25vw !important;
    height: 25vh !important;
    min-width: 150px;
}

.userInputBox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 150px;
}
.inputbox{
    margin: 6px !important;
}
.userButton{
    margin: 6px;
    display: flex;
    justify-content: flex-end;
}
#userButton{
    width: 27vw;
}
#button{
    margin-left: 12px;
}
.border{   
    height: 15px;
    padding: 6px;
    padding-right: 32px;
}
#border{
    margin-left: 6px;
}