body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h6{
  color: #8AB959;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.root{
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
}
.dubbleroot{
  display: flex;
  padding: 0px 24px;
  flex-direction: row;
}
.left{
  width: 45vw;
}
.colum{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}